@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");

:root {
    --primary-color: #272727;
    --secondary-color: #ff3f6c;
    --light-pink-color: #ff6589;
    --success-color: #1b7052;
    --success-background-color: #84f1c9;
    --alert-color: #dc3545;
    --alert-background-color: #fcc5c5;
    --warning-color: #ff9204;
    --warning-background-color: #ffe7c5;
    --info-color: #29438b;
    --info-background-color: #7fd2e6;
    --white-color: #fff;
    --shadow-color: #f3f4f6;
    --light-grey-color: #6b7280;
    --grey-color: #4b5563;
    --line-color: #d1d5db;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto' , sans-serif;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[role='list'],
ol[role='list'], li{
  list-style: none;
}


img,
picture {
  max-width: 100%;
  display: block;
}

a {
    text-decoration: none;
}
    
input,
button,
textarea,
select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--primary-color);
}
