<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/image/image.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/docs/main.css">
    <script src="https://kit.fontawesome.com/b2c3fdb829.js" crossorigin="anonymous"></script>
    <title>Image</title>
</head>
<body>
    
    <!-- Nav Bar -->

    <nav class="nav">
        <div class="nav_container">
            <a class="nav_heading" href="/">Zero<span class="span">+</span>1 UI</a>
            <div class="nav_list_container">
                <ul class="nav_list">
                    <li class="nav_list_icons">
                        <a class="nav_icons" target="_blank" href="https://github.com/manojasarsa"><i
                                class="fab fa-github fa-2x"></i></a>
                    </li>
                    <li class="nav_list_icons">
                        <a class="nav_icons" target="_blank" href="https://www.linkedin.com/in/manoj-asarsa"><i
                                class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li class="nav_list_icons">
                        <a class="nav_icons" target="_blank" href="https://twitter.com/manoj_asarsa"><i
                                class="fab fa-twitter fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="doc_sidebar">
        <div class="doc_heading">Getting Started</div>
        <div class="doc_sidebar_list">
            <a class="doc_comp_link" href="/components/getting-started.html">Installation</a>
        </div>
        <div class="doc_heading">Components</div>
        <ul>
            <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/avatar/avatar.html">Avatar</a></li>
            <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/alert/alert.html">Alert</a></li>
            <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/badge/badge.html">Badge</a></li>
            <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/button/button.html">Button</a></li>
            <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/card/card.html">Card</a></li>
            <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/image/image.html">Image</a></li>
            <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/input/input.html">Input</a></li>
        </ul>
    </div>

    <!-- Main Content -->

    <div class="doc_content">

        <div class="doc_main_container">
            <h2 class="doc_main_head">Image</h2>
            <p class="doc_main_desc">
                An image is a graphic representation of something. Images can be made responsive to fit the parent's width, and also can be customised to be round shaped.
            </p>
            <div class="display_code">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=material&wt=none&l=css&width=680&ds=true&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Droid+Sans+Mono&fs=14.5px&lh=147%25&si=false&es=2x&wm=false&code=%253Clink%2520rel%253D%2522stylesheet%2522%2520%250Ahref%253D%2522https%253A%252F%252Fzero-ui.netlify.app%252Fcomponents%252Fcard%252Fcard.css%2522%253E"
                    style="width: 560px; height: 117px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <!-- Responsive Image -->

            <h2 class="doc_main_head">Responsive Image</h2>
            <p class="doc_main_desc">
                Responsive Image Components are used to display Images on websites, which are screen responsive. They expand upto the width of the container they are in.
                <code>
                    <span class="span">  ".img_responsive " , " max-width: 100% "</span>
                </code>
                and
                <code>
                    <span class="span">" height: auto "</span>
                </code>
                are applied to the image to make it responsive.
            </p>

            <div class="image_container">
                <img src="/assets/concert.jpg" alt="" class="img_responsive">
            </div>

            <div class="display_code">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=material&wt=none&l=css&width=680&ds=true&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Droid+Sans+Mono&fs=14.5px&lh=147%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522...%2522%2520class%253D%2522img_responsive%2522%2520alt%253D%2522...%2522%253E"
                    style="width: 456px; height: 95px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

            <!-- Round Images -->

            <h2 class="doc_main_head">Round Image</h2>
            <p class="doc_main_desc">
                Add the img-round class to the img tag to get a round image which will grow to 100% width of it's parent container.
            </p>

            <div class="image_container">
                <img src="/assets/dog.jpg" alt="" class="img_responsive img_round">
            </div>

            <div class="display_code">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=material&wt=none&l=css&width=680&ds=true&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Droid+Sans+Mono&fs=14.5px&lh=147%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522...%2522%2520%250Aclass%253D%2522%2520img_responsive%2520img_round%2522%2520alt%253D%2522...%2522%253E"
                    style="width: 421px; height: 117px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </div>
    </div>

</body>
</html>