.image_container {
    border: 1px solid var(--shadow-color);
    width: 30rem;
    height: 30rem;
}

.img_responsive {
    max-width: 100%;
    height: auto;
}

.img_round {
    border-radius: 50%;
}