body {
    min-height: fit-content;
}

/* Navigation */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0;
    z-index: 5;
    padding: 0.5rem;
    background-color: var(--shadow-color);
    box-shadow: 0px 2px 10px 1px var(--shadow-color);
}

.nav_container {
    padding: 1rem;
}

.nav_list {
    width: 100%;
    flex-basis: 50%;
}

.nav_list_icons {
    margin: 0rem 1.2rem;
}

.nav_list_container {
    flex-shrink: 2;
}

.nav_heading {
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: var(--shadow-color);
    padding: 0.2rem 0.5rem;
}

.nav_icons {
    color: var(--light-grey-color);
    font-size: 0.8rem;
    margin: 0rem 0.2rem;
}

.nav_icons:hover {
    color: var(--secondary-color);
}

/* Main Content */

.container {
    width: 80vw;
    margin: 12rem auto;  
    text-align: center;
}

.container h1 {
    font-size: 4rem;
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
}

.container h3 {
    line-height: 1.7;
    font-size: 1.3rem;
    font-weight: var(--fw-regular);
    margin-top: 1rem;
}

.container_button {
    margin-top: 4rem;
    width: 100%;
}

.container_btns {
    margin: 2rem 0;
    padding: 1.1rem 1.8rem;
    border: 2px solid var(--secondary-color);
    border-radius: 7px;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: var(--trans-5);
    font-weight: var(--fw-bold);
}

.container_btn_prim {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.container_btn_sec {
    color: var(--secondary-color);
}

.container_btn_prim:hover {
    letter-spacing: 0.4rem;
}

.container_btn_sec:hover {
    letter-spacing: 0.4rem;
}

.span {
    color: var(--secondary-color);
}

.home_btns {
    width: 18rem;
}