@import url("/docs/main.css");

.card {
    min-height: fit-content;
    width: 60%;
    box-shadow: 0px 0px 5px 5px var(--shadow-color);
    border-radius: 5px;    
}

.card_container {
    margin: 1rem 1rem 0 1rem;
}

.card_title {
    font-size: 1rem;
}

.card_vertical {
    position: relative;
    box-shadow: 0px 0px 5px 5px var(--shadow-color);
    border-radius: 5px;
}

.card_vertical_info {
    justify-content: flex-start;
    align-items: center;
    margin: 0.5em;
    flex-wrap: wrap;
}

.card_horizontal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    column-gap: 1rem;
    box-shadow: 0px 0px 5px 5px var(--shadow-color);
    border-radius: 5px;   
}

/* .card_horizontal_image {
    width: 25%;
    margin: 1rem 0 0 1rem;
} */

.card_horizontal .card_horizontal_text {
    align-self: center;
}

.card_overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white-color);
    opacity: 0.6;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card_overlay_text {
    font-size: 4em;
    font-weight: 900;
    background-color: var(--secondary-color);
    text-align: center;
}

.card_overlay_text:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.card_image {
    display: flex;
}

.card_text {
    font-size: 0.8em;
    font-weight: 600;
    margin-top: 0.8em;
}

.card_subtext {
    color: var(--grey-color);
    font-size: 0.7em;
}

.card_price {
    margin-top: 0.5em;
}

.text_line_through {
    color: var(--grey-color);
    text-decoration: line-through;
    font-size: 0.7em;
    padding-left: 0.2em;
}

.card_image .adjust_image {
    height: 40vh;
    width: 100%;
    object-fit: contain;
}