@import url("/docs/main.css");

.card {
    min-height: fit-content;
    width: 60%;
    margin: 1rem;
    border: 3px solid var(--shadow-color);
    box-shadow: 2px 2px 10px var(--grey-color); 
    border-radius: 5px;    
}

.card_vertical {
    position: relative;
    margin: 1rem;
    border: 3px solid var(--shadow-color);
    box-shadow: 2px 2px 10px var(--grey-color);
    border-radius: 5px;
}

.card_horizontal {
    display: flex;
    width: 100%;
    max-width: 500px;
    column-gap: 1.5rem;
    border: 3px solid var(--shadow-color);
    box-shadow: 1px 1px 10px var(--grey-color);
    border-radius: 5px;   
}

.card_overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white-color);
    opacity: 0.6;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.card_image {
    display: flex;
}

.card_overlay_text {
    font-size: 4em;
    font-weight: 900;
    background-color: var(--secondary-color);
    text-align: center;
}

.card_overlay_text:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
}

.card_container {
    margin: 1rem 1rem 0 1rem;
}

.card_vertical_info {
    margin: 1rem;
}

.card_title {
    font-size: 1.5rem;
}

.card_text {
    font-size: 1rem;
    font-weight: 600;
    margin: 1.5rem 0 0 0 ;
}

.card_subtext {
    color: var(--grey-color);
}

.card_price {
    font-size: 1.5rem;
}

.card_horizontal_image {
    width: 25%;
    margin: 1rem 0 0 1rem;
}

.img_responsive {
    max-width: 100%;
    height: auto;
}
