@import url("/docs/main.css");

.card_outer_box {
    border: 1px solid var(--light-grey-color);
    margin: 0 auto;
}

/* Simple Text Card */

.card {
    min-height: fit-content;
    width: 60%;
    border-radius: 2px;    
}

.card_container {
    margin: 1rem 1rem 0 1rem;
}

.card_title {
    font-size: 1rem;
}

/* Vertical Image Card */

.card_vertical {
    position: relative;
    border-radius: 2px;
}

.card_vertical_info {
    position: relative;
    justify-content: flex-start;
    margin: 0.5em;
    flex-wrap: wrap;
}

/* Horizontal Card */

.card_grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px,1fr));
    place-items: center;
}

/* Cards with text overlay */

.card_overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white-color);
    opacity: 0.6;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card_overlay_text {
    font-size: 4em;
    font-weight: 900;
    background-color: var(--secondary-color);
    text-align: center;
}

.card_overlay_text:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
}

/* Common CSS */

.card_image {
    display: flex;
}

.card_image .adjust_image {
    height: 40vh;
    width: 100%;
    object-fit: contain;
}

.card_text {
    font-size: 0.8em;
    font-weight: 600;
    margin-top: 0.8em;
}

.card_subtext {
    color: var(--grey-color);
    font-size: 0.7em;
}

.text_line_through {
    color: var(--grey-color);
    text-decoration: line-through;
    font-size: 0.7em;
    padding-left: 0.2em;
}

.card_heart_icon {
    position: absolute;
    color: var(--white-color);
    right: 1.5rem;
    top: 0.8rem;
    font-size: 1.2rem;
}

.card_heart_icon:hover {
    color: var(--red-color);
}

.card_price {
    margin-top: 0.5em;
}

.left_space {
    padding-left: 0.5rem;
}

.right_space {
    margin-right: 1rem;
}