.input_container {
    padding: 1rem;
    margin: 0 auto;
    box-shadow: 0px 0px 1px 1px var(--line-color);
    min-height: 100px;
    width: 20rem;
}

.input_heading {
    margin: 1.5rem;
    text-align: center;
}

.input_subheading {
    margin: 0.5rem 0;
    text-align: center;
    font-size: 0.8rem;
}

.input_box {
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--shadow-color);
    border: 1px solid var(--shadow-color);
}

.input_checkbox {
    width: 0.8rem;
    height: 0.8rem;
    margin-top: 1rem;
    cursor: pointer;
}

.input_box_error {
    padding: 0.3rem 1rem;
    border-radius: 5px;
    background-color: var(--shadow-color);
    border: 1px solid var(--alert-color);
    color: var(--alert-color);
}

.input_error {
    margin-top: 1rem;
    color: var(--alert-color);
}

.input_label {
   font-size: 0.9rem;
   font-weight: var(--fw-bold);
   color: var(--primary-color);
   padding: 0.4rem 0;
}

.input_field {
    margin: 0 2rem;
}