@import url("/docs/main.css");

.btn {
    margin: 0.5rem;
    padding: 0.5em;
    border: 2px solid var(--primary-color);
    border-radius: 7px;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: var(--primary-color);  
    transition: all 0.5s ease-in-out;
    font-size: 0.8rem;
}

.btn_primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
}

.btn_primary:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.btn_secondary {
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: 1px solid var(--secondary-color);
}

.btn_secondary:hover {
    background-color: var(--white-color);
    color: var(--secondary-color);
}

.btn_disabled {
    background-color: var(--shadow-color);
    color: var(--light-grey-color);
}

.btn_primary_outline {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.btn_primary_outline:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn_secondary_outline {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.btn_secondary_outline:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.btn_link {
    background-color: var(--alert-background-color);
}

.btn_link:hover {
    transform: scale(1.1);
}

.btn_secondary_icon {
    background-color: var(--secondary-color);
    color: var(--white-color);
    display: flex;
    column-gap: 0.3em;
    border: 1px solid var(--secondary-color);
}

.btn_secondary_icon:hover {
    background-color: var(--white-color);
    color: var(--secondary-color);
}

.btn_primary_icon {
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    display: flex;
    column-gap: 0.3em;
}

.btn_primary_icon:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn_floating {
    width: 3vw;
    height: 6vh;
    border-radius: 50%;
    font-size: 0.5rem;
}

.icon_text {
    padding-top: 0.2rem;
}

.btn_link_text {
    color: var(--primary-color);
}