@import url("/docs/main.css");

.avatar_container {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    margin: 2rem auto;    
    padding: 1.5rem 0rem;
    justify-content: flex-start;
    border-bottom: 1px solid var(--line-color);
    flex-wrap: wrap;
    overflow: auto;
    text-align: left;
}

.avatar_head {
    font-size: 1.5rem;
    padding-top: 2rem;
    border-top: 1px solid var(--line-color);
}

.avatar_desc {
    margin: 2rem 0;
    font-size: 1rem;
    color: var(--light-grey-color);
    font-weight: 400;
}

.avatar {
    border-radius: 50%;
    height: 8em;
    width: 8em;
    object-fit: cover;
    margin: 2rem 0 2rem 2rem;
}

.avatar_lg {
    height: 11em;
    width: 11em;
}

.avatar_md {
    height: 8em;
    width: 8em;
}

.avatar_sm {
    height: 5em;
    width: 5em;
}

.avatar_xs {
    height: 2em;
    width: 2em;
}

.avatar_sizes {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    column-gap: 1.5rem;
}