@import url("/docs/main.css");

.avatar {
    border-radius: 50%;
    height: 8em;
    width: 8em;
    object-fit: cover;
    
}

.avatar_lg {
    height: 11em;
    width: 11em;
}

.avatar_md {
    height: 8em;
    width: 8em;
}

.avatar_sm {
    height: 5em;
    width: 5em;
}

.avatar_xs {
    height: 2em;
    width: 2em;
}

.avatar_sizes {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    column-gap: 1.5rem;
}