<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/docs/main.css">
    <script src="https://kit.fontawesome.com/b2c3fdb829.js" crossorigin="anonymous"></script>
    <title>Getting Started</title>
</head>
<body>

    <!-- Nav Bar -->

    <nav class="nav">
        <div class="nav_container">
            <a class="nav_heading" href="/">Zero<span class="span">+</span>1 UI</a>
            <div class="nav_list_container">
                <ul class="nav_list">
                    <li class="nav_list_icons">
                        <a class="nav_icons" target="_blank" href="https://github.com/manojasarsa"><i
                                class="fab fa-github fa-2x"></i></a>
                    </li>
                    <li class="nav_list_icons">
                        <a class="nav_icons" target="_blank" href="https://www.linkedin.com/in/manoj-asarsa"><i
                                class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li class="nav_list_icons">
                        <a class="nav_icons" target="_blank" href="https://twitter.com/manoj_asarsa"><i
                                class="fab fa-twitter fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="doc_sidebar">
        <div class="doc_heading">Getting Started</div>
        <div class="doc_sidebar_list">
            <a class="doc_comp_link" href="">Installation</a>
        </div>
        <div class="doc_heading">Components</div>
        <ul>
            <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/avatar/avatar.html">Avatar</a></li>
            <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/alert/alert.html">Alert</a></li>
            <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/badge/badge.html">Badge</a></li>
            <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/button/button.html">Button</a></li>
            <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/card/card.html">Card</a></li>
            <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/image/image.html">Image</a></li>
            <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/input/input.html">Input</a></li>
        </ul>
    </div>

    <!-- Main Content -->

    <div class="doc_content">

        <div class="doc_main_container">
            <h2 class="doc_main_head">Getting Started</h2>
            <p class="doc_main_desc">
                <span class="span">ZERO+1 UI</span> is a CSS component library, which helps Developers to use best styles and components, by using pre-defined classnames. It will quickly build your Dream Project because we take care of your Designs.
            </p>

            <h2 class="doc_main_head">Installation Guide</h2>
            <p class="doc_main_desc">
                To start using the components in your project import the stylesheet in your css or html file.
                
            </p>

            <h2 class="doc_main_head">CSS</h2>
            <p class="doc_main_desc">
                Copy-paste the stylesheet <span class="span">LINK</span> into your <span class="span">HEAD tag</span> to load our CSS.
            </p>

            <div class="display_code">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=material&wt=none&l=css&width=680&ds=true&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Droid+Sans+Mono&fs=14.5px&lh=147%25&si=false&es=2x&wm=false&code=%253Clink%2520rel%253D%2522stylesheet%2522%2520%250Ahref%253D%2522https%253A%252F%252Fzero-ui.netlify.app%252Fcomponents%252Fdocs.css%2522%253E"
                    style="width: 517px; height: 117px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </div>
    </div>
    
</body>
</html>