@import url("/docs/main.css");

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--shadow-color);
    border: 1px solid var(--light-grey-color);
    padding: 0.6em 1em;
    border-radius: 0.3rem;
}

.nav_logo {
    font-size: 2rem;
    color: var(--secondary-color);
}

.nav_center {
    flex-basis: 30%;
    border-radius: 2rem;
}

.input_search {
    border: 1px solid var(--light-grey-color);
    padding-left: 0.5rem;
    border-radius: 1rem;
}

.navigation i {
    position: relative;
}

.navigation .nav_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem 0;
}

.login_button {
    margin-right: 1em;
    padding: 0.6em 1em;
}

.nav_right .badge_icon {
    width: fit-content;
}