@import url("/docs/main.css");

.badge_container {
    position: relative;
    border-radius: 50%;
    margin-right: 10px;
}

.badge_wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
    column-gap: 1.5rem;
}

.badge_status {
    position: absolute;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    right: 1.5em;
    bottom: 0.6em;
    border: 2px solid var(--line-color);
}

.badge_online {
    background-color: var(--success-color);
    right: 0.4em;
    bottom: 1.3em;
}

.badge_offline {
    background-color: var(--warning-color);
    right: 0.3em;
}

.badge_dnd {
    background-color: var(--alert-color);
    right: -0.3em;
    top: 3.3em;
}

.badge_icon_num {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8rem;
    min-width: 1.8rem;
    line-height: 0;
    right: -0.8em;
    bottom: 1.9em;
    color: var(--white-color);
    background-color: var(--alert-color);
}

.badge_icon i {
    color: var(--primary-color);
    margin-left: 10px;
    font-size: 3rem;
}