<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/docs/main.css">
    <title>Text Utilities</title>
</head>
<body>
    
    <!-- Nav Bar -->

    <nav class="nav">
        <div class="nav_container flex flex_align_center flex_justify_between">
            <a class="nav_heading" href="/">Zero<span class="span">+</span>1 UI</a>
            <div class="nav_list_container">
                <ul class="nav_list flex flex_justify_between">
                    <li class="nav_list_icons">
                        <a class="nav_icons" target="_blank" href="https://github.com/manojasarsa"><i
                                class="fab fa-github fa-2x"></i></a>
                    </li>
                    <li class="nav_list_icons">
                        <a class="nav_icons" target="_blank" href="https://www.linkedin.com/in/manoj-asarsa"><i
                                class="fab fa-linkedin fa-2x"></i></a>
                    </li>
                    <li class="nav_list_icons">
                        <a class="nav_icons" target="_blank" href="https://twitter.com/manoj_asarsa"><i
                                class="fab fa-twitter fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Doc Wrapper -->

    <div class="document_wrapper flex flex_row">

        <!-- Side Bar -->

        <div class="doc_sidebar flex flex_col">
            <div class="doc_sidebar_heading">Getting Started</div>
            <div class="doc_sidebar_list">
                <a class="doc_comp_link" href="/components/getting-started.html">Installation</a>
            </div>
            <div class="doc_sidebar_heading">Components</div>
            <ul>
                <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/alert/alert.html">Alert</a></li>
                <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/avatar/avatar.html">Avatar</a>
                </li>
                <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/badge/badge.html">Badge</a></li>
                <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/button/button.html">Button</a>
                </li>
                <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/card/card.html">Card</a></li>
                <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/image/image.html">Image</a></li>
                <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/input/input.html">Input</a></li>

                <li class="doc_sidebar_list"><a class="doc_comp_link"
                        href="/components/text-utilities/text-utilities.html">Text Utilities</a></li>
                <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/lists/lists.html">Lists</a></li>
                <li class="doc_sidebar_list"><a class="doc_comp_link"
                        href="/components/navigation/navigation.html">Navigation</a></li>
                <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/modal/modal.html">Modal</a></li>
                <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/rating/rating.html">Rating</a>
                </li>
                <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/toast/toast.html">Toast</a></li>
                <li class="doc_sidebar_list"><a class="doc_comp_link"
                        href="/components/simplified-grid/simplified-grid.html">Simplified Grid</a></li>
                <li class="doc_sidebar_list"><a class="doc_comp_link" href="/components/slider/slider.html">Slider</a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->

        <div class="doc_content flex flex_col flex_justify_start flex_wrap">

            <div class="doc_main_container flex flex_col flex_justify_start flex_wrap">
                <h2 class="doc_main_head">Text Utilities</h2>
                <p class="doc_main_desc">
                    For heading u can use h1, h2, h3, h4, h5, h6 elements. 
                    Check out below text utilities.
                </p>
               
                <iframe class="display_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=material&wt=sharp&l=auto&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Droid+Sans+Mono&fs=12px&lh=147%25&si=false&es=2x&wm=false&code=%253Clink%2520rel%253D%2522stylesheet%2522%2520%250A%2520href%253D%2522https%253A%252F%252Fzero-ui.netlify.app%252Fcomponents%252Ftext-utilities%252Ftext-utilities.css%2522%253E%250A"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <h2 class="doc_main_head">Typography</h2>
                <p class="doc_main_desc">
                    For heading u can use h1, h2, h3, h4, h5, h6 elements. 
                    Check out below text utilities.
                </p>

                <div class="text_box">
                    <h1 class="text_h">This is h1 Heading.</h1>
                    <h2 class="text_h2">This is h2 Heading.</h2>
                    <h3 class="text_h3">This is h3 Heading.</h3>
                    <h4 class="text_h4">This is h4 Heading.</h4>
                    <h5 class="text_h5">This is h5 Heading.</h5>
                    <h6 class="text_h6">This is h6 Heading.</h6>
                    <p class="text_p">This is Paragraph</p>
                </div>
                
                <iframe class="display_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=material&wt=sharp&l=auto&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Droid+Sans+Mono&fs=12px&lh=147%25&si=false&es=2x&wm=false&code=%253Ch1%2520class%253D%2522text_h%2522%253EThis%2520is%2520h1%2520Heading.%253C%252Fh1%253E%250A%253Ch2%2520class%253D%2522text_h2%2522%253EThis%2520is%2520h2%2520Heading.%253C%252Fh2%253E%250A%253Ch3%2520class%253D%2522text_h3%2522%253EThis%2520is%2520h3%2520Heading.%253C%252Fh3%253E%250A%253Ch4%2520class%253D%2522text_h4%2522%253EThis%2520is%2520h4%2520Heading.%253C%252Fh4%253E%250A%253Ch5%2520class%253D%2522text_h5%2522%253EThis%2520is%2520h5%2520Heading.%253C%252Fh5%253E%250A%253Ch6%2520class%253D%2522text_h6%2522%253EThis%2520is%2520h6%2520Heading.%253C%252Fh6%253E%250A%253Cp%2520class%253D%2522text_p%2522%253EThis%2520is%2520Paragraph%253C%252Fp%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
                
            </div>    

            <!-- Text Alignments -->

            <div class="doc_main_container">
                <h2 class="doc_main_head">Text Alignments</h2>
                <p class="doc_main_desc">
                    Text Alignment is use to align the text on web page. Right, Left, And Center. Here, You can use these classes to align text text_left,
                    text_center and text_right.
                </p>

                <div class="text_box">
                    <h2 class="text_left">text-align: left</h2>
                    <h2 class="text_center">text-align: center</h2>
                    <h2 class="text_right">text-align: right</h2>
                </div>
                
                <iframe class="display_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=material&wt=sharp&l=auto&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Droid+Sans+Mono&fs=12px&lh=147%25&si=false&es=2x&wm=false&code=%253Ch2%2520class%253D%2522text_left%2522%253Etext-align%253A%2520left%253C%252Fh2%253E%250A%253Ch2%2520class%253D%2522text_center%2522%253Etext-align%253A%2520center%253C%252Fh2%253E%250A%253Ch2%2520class%253D%2522text_right%2522%253Etext-align%253A%2520right%253C%252Fh2%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

            </div> 

            <!-- Text Sizes -->

            <div class="doc_main_container">
                <h2 class="doc_main_head">Text Sizes</h2>
                <p class="doc_main_desc">
                    Text Alignment is use to align the text on web page. Right, Left, And Center. Here, You can use these classes to align text text_left,
                    text_center and text_right.
                </p>

                <div class="text_box">
                    <p class="paragraph text_xl">Extra large Text Size</p>
                    <p class="paragraph text_lg">large Text Size</p>
                    <p class="paragraph text_md">Medium Text Size</p>
                    <p class="paragraph text_sm">Small Text Size</p>
                    <p class="paragraph text_xm">Extra small Text Size</p>
                </div>
                
                <iframe class="display_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=material&wt=sharp&l=auto&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Droid+Sans+Mono&fs=12px&lh=147%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522paragraph%2520text_xl%2522%253EExtra%2520large%2520Text%2520Size%253C%252Fp%253E%250A%253Cp%2520class%253D%2522paragraph%2520text_lg%2522%253Elarge%2520Text%2520Size%253C%252Fp%253E%250A%253Cp%2520class%253D%2522paragraph%2520text_md%2522%253EMedium%2520Text%2520Size%253C%252Fp%253E%250A%253Cp%2520class%253D%2522paragraph%2520text_sm%2522%253ESmall%2520Text%2520Size%253C%252Fp%253E%250A%253Cp%2520class%253D%2522paragraph%2520text_xm%2522%253EExtra%2520small%2520Text%2520Size%253C%252Fp%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

            </div> 

            <!-- Gray Text -->

            <div class="doc_main_container">
                <h2 class="doc_main_head">Gray Text</h2>
                <p class="doc_main_desc">
                    A design rule says that white text is too high in contrast for a background so they lighten the white into a light gray to make it easier for the users eye.
                </p>

                <div class="text_box">
                    <p class="text_gray">GRAY IS THE QUEEN OF COLORS, BECAUSE IT MAKES EVERYONE ELSE LOOK GOOD!</p>
                </div>
                
                <iframe class="display_code"
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=material&wt=sharp&l=auto&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Droid+Sans+Mono&fs=12px&lh=147%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text_gray%2522%253E%250A%2520%2520GRAY%2520IS%2520THE%2520QUEEN%2520OF%2520COLORS%252C%2520BECAUSE%2520IT%2520MAKES%2520EVERYONE%2520ELSE%2520LOOK%2520GOOD%21%250A%253C%252Fp%253E"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>

                <div class="nav_bottom flex flex_justify_between">
                    <a href="/components/input/input.html"> < Input</a>
                    <a href="/components/lists/lists.html">Lists ></a>
                </div>

            </div> 

        </div>

    </div>

</body>
</html>