@import url("/css/common.css");
@import url("/landingpage.css");
@import url("/docs/docs.css");
@import url("/components/avatar/avatar.css");
@import url("/components/alert/alert.css");
@import url("/components/badge/badge.css");
@import url("/components/button/button.css");
@import url("/components/card/card.css");
@import url("/components/image/image.css");
@import url("/components/input/input.css");
@import url("/components/text-utilities/text-utilities.css");
@import url("/components/lists/lists.css");
@import url("/components/navigation/navigation.css");
@import url("/components/modal/modal.css");
@import url("/components/rating/rating.css");
@import url("/components/toast/toast.css");
@import url("/components/simplified-grid/simplified-grid.css");

.doc_sidebar {
    width: 15vw;
    position: fixed;
    top: 100px;
    left: 10px;
    height: 100%;
    padding: 1rem;
    text-align: center;
    border: none;
    box-shadow: 1px 1px 1px 1px var(--shadow-color);
}

.doc_heading {
    color: var(--primary-color);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    margin: 0.4rem 0;
}

.doc_sidebar_list { 
    font-size: 0.9rem;
}

.doc_comp_link {
    color: var(--grey-color);
    display: block;
    padding: 0.2rem 0;
}

.doc_comp_link:hover{
    background-color: var(--shadow-color);
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.doc_content {
    background-color: var(--white-color);
    display: flex;
    width: 60vw;
    margin: 3rem auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.doc_main_container {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    margin: 2rem 5rem;    
    padding: 1.5rem 0rem;
    justify-content: flex-start;
    border-bottom: 1px solid var(--line-color);
    flex-wrap: wrap;
    overflow: auto;
    text-align: left;
}

.display_code {
    margin: 2rem 0;
    padding-bottom: 2rem;
    max-width: 50vw;
}

.doc_main_head {
    font-size: 1.5rem;
    padding-top: 2rem;
    border-top: 1px solid var(--line-color);
}

.doc_main_desc {
    margin: 2rem 0;
    font-size: 1rem;
    color: var(--light-grey-color);
    font-weight: 400;
}

.doc_component {
    display: flex;
    align-items: flex-start;
}

.display_code iframe {
    max-width: 100%;
}