.alert_box {
    width: 100%;
}

.alert_success {
    margin: 1rem;
    padding: 1rem;
    color: var(--success-color);
    background-color: var(--success-background-color);
}

.alert_error {
    margin: 1rem;
    padding: 1rem;
    color: var(--alert-color);
    background-color: var(--alert-background-color);
}

.alert_warning {
    margin: 1rem;
    padding: 1rem;
    color: var(--warning-color);
    background-color: var(--warning-background-color);
}

.alert_info {
    margin: 1rem;
    padding: 1rem;
    color: var(--info-color);
    background-color: var(--info-background-color);
}

.alert_box span {
    margin: 0 0.4rem;
    font-size: 1.2rem;
}